{% extends 'base.html.twig' %}

{% block title %}{{ book.title }}{% endblock %}

{% block pageTitle %}{{ book.title }}{% endblock %}

{% block body %}
  <p>{{ book.summary }}</p>
  <span class="badge badge-secondary mr-5 p-2">{{ book.author }}</span>
  <span class="badge badge-secondary mr-5 p-2">{{ book.publication|date("d/m/Y") }}</span>
  <span class="badge badge-secondary mr-5 p-2">{{ book.category.title }}</span>
  {% if book.availability %}
    <span class="badge badge-success mr-5 p-2">Disponible</span>
  {% else %}
    <span class="badge badge-danger mr-5 p-2">Indisponible</span>  
  {% endif %}
{% endblock %}
