{% extends 'base.html.twig' %}

{% block title %}{{ book.title }}{% endblock %}

{% block pageTitle %}{{ book.title }}{% endblock %}

{% block body %}
  {% for message in app.flashes('success') %}
      <div class="alert alert-success">
          {{ message }}
      </div>
  {% endfor %}
  <p>{{ book.summary }}</p>
  <span class="badge badge-secondary mr-5 p-2">{{ book.author }}</span>
  <span class="badge badge-secondary mr-5 p-2">{{ book.publication|date("d/m/Y") }}</span>
  <span class="badge badge-secondary mr-5 p-2">{{ book.category.title }}</span>
  {% if book.availability %}
    <span class="badge badge-success mr-5 p-2">Disponible</span>
    {{ form(form) }}
  {% else %}
    <span class="badge badge-danger mr-5 p-2">Indisponible</span>
    <a href="{{ path("librairian_book_back", {"id" : book.id})}}" class="btn btn-success">Retour livre</a>
  {% endif %}
{% endblock %}
