{% extends 'base.html.twig' %}

{% block title %}{{ book.title }}{% endblock %}

{% block pageTitle %}{{ book.title }}{% endblock %}

{% block body %}
  {% if book.borrower %}
    <p class="italic">Livre emprunté par autoescape <a href="{{path("librairian_user", {"id" : book.borrower.id})}}">{{book.borrower.firstName}} {{book.borrower.lastName}}</a></p>
  {% endif %}

  {% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
  {% endfor %}

  <p>{{ book.summary }}</p>
  <span class="badge badge-secondary mr-5 p-2">{{ book.author }}</span>
  <span class="badge badge-secondary mr-5 p-2">{{ book.publication|date("d/m/Y") }}</span>
  <span class="badge badge-secondary mr-5 p-2">{{ book.category.title }}</span>
  <span class="badge badge-secondary mr-5 p-2">{{ book.librairy.name }}</span>
  {% if book.availability %}
    <span class="badge sec-bg mr-5 p-2">Disponible</span>
    {{ form_start(form) }}
        {{ form_widget(form.code) }}
        {{ form_widget(form.Emprunter) }}
    {{ form_end(form) }}
  {% else %}
    <span class="badge badge-danger mr-5 p-2">Indisponible</span>
    <a href="{{ path("librairian_book_back", {"id" : book.id})}}" class="btn btn-success">Retour livre</a>
  {% endif %}
{% endblock %}
